.I-piece {
  background: url('../../assets/images/I-piece.png');
}

.J-piece {
  background: url('../../assets/images/J-piece.png');
}

.L-piece {
  background: url('../../assets/images/L-piece.png');
}

.O-piece {
  background: url('../../assets/images/O-piece.png');
}

.S-piece {
  background: url('../../assets/images/S-piece.png');
}

.T-piece {
  background: url('../../assets/images/T-piece.png');
}

.Z-piece {
  background: url('../../assets/images/Z-piece.png');
}
