:root {
  --board-height: calc((90vh * .95) - 20px);
  --board-width: calc(var(--board-height) / 2);
  --cell-size: calc(var(--board-width) / 10);
  --dark-bg: #3c3b3b;
  --light-bg: #dbd8d8;
}

* {
  box-sizing: border-box;
  font-family: monospace, 'Courier New', Courier;
  margin: 0;
  padding: 0;
}

/* Main container */
#container {
  background: linear-gradient(var(--dark-bg), var(--light-bg));
	display: flex;
	height: 100vh;
	width: 100vw;
}
